header{
    background-color:#264653 ;
    color: #E0E0E0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.tomato-btn{
    background-color: #E76F51;
    color: white;
    padding: 7px 30px;
}
header h1{
    font-size: 48px;
}
.font-tomato{
    color: #E76F51;
}
.grayscale{
    filter: grayscale(100%);
}
main{
    overflow-x: hidden;
}
main p{
    color: #6C6C6C;
}
.client-blue-text{
    color: #23A6F0;
}
.booking-part{
    background-color: #6d6d6d;
}
/* horizontal-line */
.hr-line{
    width: 20%;
    border: 1px solid #271212;
    margin-left: 40%;
}
footer{
    background-color: #264653;
}